.DS_Store
.dart_tool/

.packages
.pub/

build/
.vscode/settings.json
android/.idea/vcs.xml
android/.idea/modules.xml
.gitignore
android/.idea/misc.xml
android/.idea/jarRepositories.xml
android/.idea/gradle.xml
android/.idea/compiler.xml
android/.idea/.name
